version: '3.8'

services:
  ansible-control:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ansible-control-node
    hostname: ansible-control
    volumes:
      # Mount your playbooks and inventory
      - ./ansible:/ansible
      # Mount SSH keys for connecting to target hosts #:ro
      - ../local/ssh-keys/ansible:/home/ansible/.ssh
      - ../local/ssh-keys/root:/root/.ssh 
      # Mount playbooks
      - ./playbooks:/ansible/playbooks
      - ../local:/ansible/local
      - ../local/vault:/ansible/vault
      # Persist command history
      - ../local/root-history:/root/.bash_history
      - ../local/ansible-history:/home/ansible/.bash_history

    working_dir: /ansible
    # Keep container running
    command: tail -f /dev/null
    networks:
      - ansible-network
    environment:
      - ANSIBLE_HOST_KEY_CHECKING=False
      - ANSIBLE_INVENTORY=/ansible/local/inventory/inventory.ini
      - ANSIBLE_PRIVATE_KEY_FILE=/home/ansible/.ssh/id_ed25519
      - ANSIBLE_REMOTE_USER=ansible
      - ANSIBLE_TIMEOUT=30
      - ANSIBLE_STDOUT_CALLBACK=debug
      - ANSIBLE_CONFIG=/ansible/ansible.cfg

volumes:
  ansible-history:

networks:
  ansible-network:
    driver: bridge
