apiVersion: 1
datasources:
{% for datasource in grafana.datasources %}
  - name: {{ datasource.name }}
    type: {{ datasource.type }}
    url: {{ datasource.url }}
    access: {{ datasource.access }}
    isDefault: {{ datasource.is_default | lower }}
{% endfor %}
