---
# test_me.yml
- hosts: all
  gather_facts: no
  become: true

  tasks:
    - name: Gather facts without privilege escalation
      ansible.builtin.setup:
      become: false

    # - name: Write to local tmp
    #   copy:
    #     content: "hi"
    #     dest: "/tmp/localtest.txt"
    #   delegate_to: localhost
    #   become: false
    - name: Debug host_info
      ansible.builtin.debug:
        var: host_info

    - name: Debug become password
      ansible.builtin.debug:
        # msg: "Become password is set {{ 'Yes' if ansible_become_password != '' else 'No' }}"
        msg: "Become password is set"
      when:
        - ansible_become_password is defined
        - ansible_become_password != ''

    - name: Ping all hosts
      ping:
      become: true
